@import '../../../styles/global';

.user-form {
  width: 500px;
  display: flex;
  flex-direction: column;

  p {
    color: red;
    margin-bottom: -$freeSpace;
    font-style: italic;
    font-size: 0.85em;
    font-weight: 600;
  }

  label {
    margin-top: $freeSpace;
  }

  input {
    padding: 5px;
    border: none;
    border: 1px solid $greyColor;
    border-radius: 2px;
    transition: 0.5s;
  }

  .submit-button {
    margin-top: $freeSpace * 2;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .submit-button:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  }
}

