$primaryColor: #d6711a;
$secondaryColor: #b15c13;
$whiteColor: #f3f3f3;
$greyColor: #cccccc;
$headerHeight: 70px;
$freeSpace: 15px;

body {
  padding-top: $headerHeight;
  background-color: #dddddd;
}
